__astcache/
__history/
__recovery/
Win32/
Win64/
Win64x/
*.bak
*.dcp
*.dcu
*.dll
*.drc
*.dres
*.bpl
*.bpi
*.il?
*.local
*.map
*.o
*.obj
*.ocx
*.pdi
*.res
*.rsm
*.so
*.stat
*.tds
*.~*
*.@@@
MSG00409.bin
*.twfd
*.twopts
